In [ ]:
import pandas as pd
import psycopg2
from telethon import TelegramClient
from telethon.sessions import StringSession
import asyncio

In [ ]:
# Telegram API Credentials (Replace with your values)
api_id = "25516266"
api_hash = "fa60997cc6b272938bb894a93df300e5"

# PostgreSQL Credentials
DB_NAME = "E2E-DP"
DB_USER = "postgres"
DB_PASSWORD = "postgres"
DB_HOST = "localhost"
DB_PORT = "5432"

try:
    # Connect to PostgreSQL Database
    conn = psycopg2.connect(
        dbname=DB_NAME, user=DB_USER, password=DB_PASSWORD, host=DB_HOST, port=DB_PORT
    )
    cursor = conn.cursor()
    print("Connected to PostgreSQL")
except Exception as e:
    print("Error connecting to PostgreSQL:", e)

In [ ]:
# Load CSV file
df_ecom = pd.read_csv("Online_Retail.csv")  
print(df_ecom.head(2))  # Display first 3 datas

In [ ]:
# Use StringSession to avoid locked database issues
client = TelegramClient(StringSession(), api_id, api_hash)

async def scrape_telegram_data(channel_username, limit=1000):
    try:
        await client.start()  # Start Telegram client
        print("✅ Connected to Telegram successfully!")

        messages = []
        async for message in client.iter_messages(channel_username, limit=limit):
            messages.append({
                "date": message.date,
                "message": message.text,
                "user_id": message.sender_id
            })

        print(f"Extracted {len(messages)} messages from {channel_username}")
        return pd.DataFrame(messages)

    except Exception as e:
        print(f"Error extracting Telegram data: {e}")
        return pd.DataFrame()  # Return empty DataFrame on failure

    finally:
        await client.disconnect()  # Ensure proper session close

# Run the scraper (Jupyter Notebook Compatible)
df_telegram = await scrape_telegram_data("jiji_shop_ethiopia")

# Save to CSV for later use
df_telegram.to_csv("telegram_messages.csv", index=False)

print("✅ Data saved to telegram_messages.csv")
print(df_telegram.head())  # Display first few messages

In [ ]:
# Clean Retail Data
df_ecom.dropna(inplace=True)
df_ecom.drop_duplicates(inplace=True)
df_ecom["Quantity"] = pd.to_datetime(df_ecom["Quantity"])

In [ ]:
# Clean Telegram Data
df_telegram.dropna(subset=["message"], inplace=True)
df_telegram.drop_duplicates(inplace=True)
df_telegram["date"] = pd.to_datetime(df_telegram["date"])

In [ ]:
#Connect to PostgreSQL
conn = psycopg2.connect(
    dbname=DB_NAME, user=DB_USER, password=DB_PASSWORD, host=DB_HOST, port=DB_PORT
)
cursor = conn.cursor()

In [ ]:
# Create Tables
cursor.execute("""
    CREATE TABLE IF NOT EXISTS ecommerce (
        order_id SERIAL PRIMARY KEY,
        product_name TEXT,
        category TEXT,
        price FLOAT,
        customer_id INT,
        purchase_date TIMESTAMP
    )
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS telegram_messages (
        message_id SERIAL PRIMARY KEY,
        user_id INT,
        message TEXT,
        date TIMESTAMP
    )
""")
conn.commit()

In [7]:
# Insert Data into PostgreSQL
for _, row in df_ecom.iterrows():
    cursor.execute("""
        INSERT INTO ecommerce (product_name, category, price, customer_id, purchase_date)
        VALUES (%s, %s, %s, %s, %s)
    """, (row["product_name"], row["category"], row["price"], row["customer_id"], row["date"]))

for _, row in df_telegram.iterrows():
    cursor.execute("""
        INSERT INTO telegram_messages (user_id, message, date)
        VALUES (%s, %s, %s)
    """, (row["user_id"], row["message"], row["date"]))

conn.commit()
cursor.close()
conn.close()

NameError: name 'cursor' is not defined